*{
    padding: 0px;
    margin: 0px;
}

.font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.navbar  
{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 15px 120px 0px 120px;
   justify-content: space-between;
   background-color: white;
  
}
.navbar ul{
    display: flex;
    align-items:left;
    gap: 50px ;
    list-style: none;
    font-size: 16px;
    color: black;
    font-weight: 500px;
}
.btn
{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    font-size: 16px;
    width: 164px;
    height: 44px;
    text-decoration: none;
    border-radius: 5px;
}
.about
{
   background: url(./assets/hero-bg.png);
   width: 1600px;
   height: 674px;
 
}
.about {
  url("Banner.png") center/cover no-repeat;
  padding: 120px 20px;
  color: #fff;
}

.back {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.badge {
  background: #e8fff1;
  color: #1f8f55;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.back h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.back h1 span {
  color: #2ecc71;
}

.desc {
  max-width: 720px;
  margin: 20px auto 40px;
  font-size: 18px;
  line-height: 1.6;
  opacity: .9;
}

.actions {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}


.btn.primary {
  background: #2ecc71;
  color: #fff;
}

.btn.outline {
  border: 2px solid #fff;
  color: #fff;
}
